#plankton {
    width: 25em;
    cursor: pointer;
    transition: transform 0.5s;
}

#plankton.clicked {
    animation: growShrink 0.5s;
}

#score {
    font-size: 24px;
}

#totalScore{
    display: none;
}