@keyframes growShrink {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.3);
    }
    40% {
        transform: scale(1);
    }
}

html{
    background-image: url(../../images/clicker/bg1.jpg);
    background-size: cover;
    background-position: center;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#Clicker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#toggleShopButton {
    display: none; /* Hide button by default */
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #shop {
        display: none; /* Hide shop by default on small screens */
         background-color: #45aaf2;
    }

    #toggleShopButton {
        display: block; /* Show button on small screens */
    }
}